<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Technlogy Warehouse</title>

        <!-- ========== META TAGS ========== -->
    	<meta name="description" content="Capable cloud solutions provider">
    	<meta name="keywords" content="PAAS, IAAS, BAAS">
    	<meta name="author" content="Edge Technology">

        <!-- ========== ICONS ========== -->
    	<link rel="apple-touch-icon" href="apple-touch-icon.png">
    	<!-- Place favicon.ico in the root directory -->      
        
        <!-- <link rel="stylesheet" href="/css/revslider/navigation.css" media="screen"> -->
        <link rel="stylesheet" href="/css/owl/owl.carousel.min.css" media="screen">
        <link rel="stylesheet" href="/css/owl/owl.theme.default.min.css" media="screen">
        
        <!-- ========== APP MANIFEST ======= -->
        <link rel="manifest" href="manifest.json">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-tiltle" content="TW">
        <link rel="apple-touch-startup-image" href="/images/logo-quiver.png">
        <link rel="apple-touch-icon" href="/images/apple-quiver-57x57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/images/apple-quiver-60x60.png" sizes="60x60">
        <link rel="apple-touch-icon" href="/images/apple-quiver-72x72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/images/apple-quiver-76x76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/images/apple-quiver-114x114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/images/apple-quiver-120x120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/images/apple-quiver-180x180.png" sizes="180x180">

        <!-- ========== THEME CSS ========== -->
        <link rel="stylesheet" href="/css/main.css" media="screen" >

        <!-- ========== MODERNIZR ========== -->
        <script src="/js/modernizr/modernizr.min.js"></script>
    </head>
    <body>

        <div class="main-wrapper animsition">
    		<!-- ========== NAVIGATION ========== -->
			{{> home/home-nav}}
    	    <!-- /.navbar navbar-default -->

			<!-- ========== MAIN CONTENT ========== -->
            <div class="main"></div>
    		    {{{body}}}
    		    <!-- /.main -->
            </div>
    		<!-- ========== FOOTER ========== -->
    		{{> home/footer}}
    		<!-- /.footer -->
    	</div>
    	<!-- /.main-wrapper -->

    	<!-- ========== LOADER ========== -->
        <div class="page-loader">
            <div class="spinner-2"></div>
        </div>

        <!-- ========== COMMON JS FILES ========== -->
        <script src="/js/jquery/jquery-2.2.4.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>

        <!-- ========== PAGE JS FILES ========== -->
        <!-- REVOLUTION JS FILES -->
		<script type="text/javascript" src="/js/revslider/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="/js/revslider/jquery.themepunch.revolution.min.js"></script>

        <script src="/js/jquery.waypoints.min.js"></script>
    	<script src="/js/jquery.counterup.min.js"></script>
    	<script src="/js/parallax.min.js"></script>
    	<script src="/js/owl.carousel.min.js"></script>
        <script src="/js/animsition/animsition.min.js"></script>

        <!-- ========== THEME JS ========== -->
        <script src="/js/main.min.js"></script>
        <script src="/js/slider.min.js"></script>
        <script src="js/slider-2.min.js"></script>

        <!-- 
        To collect user behavior analytics tools about your application, 
        insert the following script into each page you want to track.
        Place this code immediately before the closing </head> tag,
        and before any other scripts. Your first data will appear 
        automatically in just a few seconds.
        -->
        <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
            }({
                instrumentationKey:"9e5048ba-1377-40b2-9203-3ed9a4422aea"
            });

            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>
        <script src="/js/promise.js"></script>
        <script src="/js/fetch.js"></script>
        <script src="/js/app.js"></script>
        <!-- ========== ADD custom.js FILE BELOW WITH YOUR CHANGES ========== -->
        <!-- ========== THEME CSS ========== -->
        <link rel="stylesheet" href="/css/main.min.css" media="screen" >

        <!-- ========== PAGE STYLES ========== -->
        <link rel="stylesheet" type="text/css" href="/css/revslider/settings.css">
        
        <!-- ========== COMMON STYLES ========== -->
        <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" media="screen" >
        <link rel="stylesheet" href="/css/ionicons.min.css" media="screen">
    	<link rel="stylesheet" href="/css/animate.min.css" media="screen">
    	<link rel="stylesheet" href="/css/animsition.min.css" media="screen">
        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" >

        <link rel="stylesheet" href="/css/revslider/layers.css" media="screen">
    </body>
</html>
