<!-- ========== PRODUCT CAROUSEL ========== -->
<section class="content-section gray-section">
    <div class="container">
        <div class="row">

            <header class="section-title text-center">
                {{!-- <h6 class="small-title">See our</h6> --}}
                <h1 class="main-title">Choose your product:</h1>
                <p class="sub-title"></p>
            </header>
            <!-- /.section-title -->

            <div class="owl-carousel client-carousel">
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=DOMAINS_PATH&SCREEN=DOMAINSEXTENSION_SCREEN&dialog=newLists"></href> --}}
                        <img src="images/products/Domains.png" alt="Domains" />
                    {{!-- </a> --}}
                </div>
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=HEX"> --}}
                        <img src="images/products/Exchange.png" alt="Exchange" />
                    {{!-- </a> --}}
                </div>
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=HOSTING_PATH"> --}}
                        <img src="images/products/Hosting.png" alt="Hosting" />
                    {{!-- </a> --}}
                </div>
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=GDNS"> --}}
                        <img src="images/products/DNS.png" alt="DNS" />
                    {{!-- </a> --}}
                </div>
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=SSL"> --}}
                        <img src="images/products/Certificates.png" alt="Certificates" />
                    {{!-- </a> --}}
                </div>
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=ASIGRA"> --}}
                        <img src="images/products/Backups.png" alt="Backups" />
                    {{!-- </a> --}}
                </div>
                <div class="text-center">
                    {{!-- <a href="https://store.icloud.na/index.php?NAME_PATH=VPS_HOSTING_PATH"> --}}
                        <img src="images/products/VPS.png" alt="VPS" />
                    {{!-- </a> --}}
                </div>
            </div>
            <!-- /.owl-carousel -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<footer class="footer">
    <div class="container top-container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h6>Physical Address</h6>
                <p><i class="ion-ios-location"></i>Unit 13, Garthanri Park <br> 
                    c/o Voigts & Kelvin Streets <br>
                    Southern Industrial Area, <br>
                    Windhoek, Namibia</p>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <h6>Contact Us</h6>
                <p><i class="ion-ios-contact"></i> info@tw.na</p>
                <p><i class="ion-ios-contact-outline"></i> sales@tw.na</p>
                <p><i class="ion-ios-at"></i> support@tw.na</p>
                <p><i class="ion-ios-at"></i> helpdesk@tw.na</p>
                <p><i class="ion-ios-telephone"></i> +264 (61) 416 303</p>
            </div>
            <!-- /.col-md-4 col-sm-6 -->

            <!-- <div class="col-md-4 col-sm-12">
                <h6>Follow Us</h6>
                <a href="#" class="social-link"><i class="ion-social-facebook"></i></a>
                <a href="#" class="social-link"><i class="ion-social-twitter"></i></a>
                <a href="#" class="social-link"><i class="ion-social-instagram"></i></a>
                <a href="#" class="social-link"><i class="ion-social-whatsapp"></i></a>
                <a href="#" class="social-link"><i class="ion-social-googleplus"></i></a>
                <a href="#" class="social-link"><i class="ion-social-dribbble"></i></a>
                <a href="#" class="social-link"><i class="ion-social-tumblr"></i></a>
                {{!-- <a href="https://themeforest.net/cart/configure_before_adding/18016228?license=regular&ref=salttechno&size=source&support=bundle_12month" class="btn st-btn btn-rounded small-btn mt10">Purchase Now</a> --}}
            </div>
                <a href="https://themeforest.net/cart/configure_before_adding/18016228?license=regular&ref=salttechno&size=source&support=bundle_12month" class="btn st-btn btn-rounded small-btn mt10">Purchase Now</a>
            </div> -->
            <!-- /.col-md-4 col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="col-sm-6">&copy; Technology Warehouse  | 2019</p>
                <div class="col-sm-6 text-right">
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-bottom -->
</footer>