<nav class="navbar me-menu navbar-fixed-top">
    <div class="container-fluid">

        <!-- ========== BRAND & TOGGLE - KEPT TOGETHER FOR BETTER MOBILE DISPLAY ========== -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#me-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <!-- /.navbar-header -->

        <!-- ========== NAV LINKS & ITS CONTENT ========== -->
        <div class="collapse navbar-collapse" id="me-navbar">
            <ul class="nav navbar-nav pull-right">
                <li class="active dropdown">
                    <a href="/" >Home </span></a>
                    {{!-- <ul class="dropdown-menu animated fadeIn">
                        <li>
                            <div class="me-menu-content">
                                <div class="nav-col">
                                    <ul>
                                        <li><a href="/">Home Default</a></li>
                                    </ul>
                                </div>
                                <!-- / .nav-col -->
                            </div>
                            <!-- / .me-menu-content -->
                        </li>
                    </ul> --}}
                    <!-- / .dropdown-menu -->
                </li>
                <!-- / .dropdown (features) -->
                <li class="dropdown dd-left">
                    <a href="/prod">Solutions </span></a>
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions </b></a>-->
                    <!--<ul class="dropdown-menu animated fadeIn">
                        <li>
                            <div class="me-menu-content">
                                <div class="nav-col">
                                    <ul>
                                        <li><a href="/var">Value Added Resellers (VARs)</a></li>
                                        <li><a href="/branded">Branded Resellers (BR)</a></li>
                                        <li><a href="/paas">PaaS Resellers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>-->
                    <!-- / .dropdown-menu -->
                </li>
                <li class="dropdown">
                    <a href="/about">About Us </a>
                </li>
                <li class="dropdown dd-left">
                    <a href="/contact">Contact Us </a>

                </li>
                <!-- / .dropdown.dd-left (pages) -->
            </ul>
            <!-- /.nav navbar-nav -->
        </div>
        <!-- /#me-navbar.collapse navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>