<!-- ========== SLIDER ========== -->
{{> home/slider}}
<!-- END REVOLUTION SLIDER -->


<!-- ========== TAB STYLE 6 ========== -->
<section class="content-section gray-bg">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 text-center">
                <h3 class="underline">Our offering explained</h3> -->
            </div> <!-- end col-md-12 -->

            <div class="col-md-8 col-md-offset-2">
                <div class="tab-style-8">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#model-6" aria-controls="home-8" role="tab" data-toggle="tab"><span
                                    class="icon ion-android-bulb"></span> Who we are?</a></li>
                        <li role="presentation"><a href="#var-6" aria-controls="profile-8" role="tab" data-toggle="tab"><span
                                    class="icon ion-ios-star-outline"></span> Vision</a></li>
                        <li role="presentation"><a href="#branded-6" aria-controls="messages-8" role="tab" data-toggle="tab"><span
                                    class="icon ion-ios-star-half"></span> Mission</a></li>
                        <li role="presentation"><a href="#paas-6" aria-controls="settings-8" role="tab" data-toggle="tab"><span
                                    class="icon ion-ios-star"></span> Values</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="model-6">
                            <p>As a premium cloud services provider, <strong>Technology Warehouse</strong> views cloud not just as a single technology,
                                but as a foundational platform capable of underpinning the digital transformation.</p>
                            
                            <p><strong>Technology Warehouse (Pty) Ltd (TW)</strong> was founded in 2016. It is a Namibian company, which distributes
                                cloud products and enables our resellers to package, and automate services, software and infrastructure. This includes
                                automated billing and provisioning platform, to enable them to sell their offering on a world leading automation platform,
                                which is accessible globally to their respective clients and customers.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="var-6">
                            <p>To be <strong>#1 cloud distributor in Africa</strong>, with a reseller in every country and city on the continent.</p>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="branded-6">
                            <p>To <strong>enable our resellers</strong> to create, sell and manage innovative market orientated solutions on our cloud platform which
                                benefits their customers and generates increased revenue for them.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="paas-6">
                            <ul>
                                We add value to our reseller ecosystem through <strong>unparalleled time to market</strong>, <strong>strong emphasis on communication </strong>and a model based on <strong> mutual benefit</strong>.
                            </ul>
                        </div>
                    </div> <!-- end tab-content -->
                </div> <!-- end tab-style-8 -->
            </div> <!-- end col-md-8 -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- ============== CODE FOR TAB FUNCTION END ================ -->