<!-- ========== SLIDER ========== -->
{{> home/slider}}
<!-- END REVOLUTION SLIDER -->

<!-- ========== INFO ========== -->
<section class="content-section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="feature-box-3 text-center">
                    <i class="icon ion-cube"></i>
                    <h4>Sales</h4>
                    <p><i class="ion-ios-at"></i> support@tw.na</p>
                    <p><i class="ion-ios-telephone"></i> +264 (61) 416 303</p>
                </div>
                <!-- /.feature-box -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="feature-box-3 text-center">
                    <i class="icon ion-chatboxes"></i>
                    <h4>Support</h4>
                    <p><i class="ion-ios-at"></i> helpdesk@tw.na</p>
                    <p><i class="ion-ios-telephone"></i> +264 (61) 416 303</p>
                </div>
                <!-- /.feature-box -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="feature-box-3 text-center">
                    <i class="icon ion-android-locate"></i>
                    <h4>Visit Us</h4>
                    <p><i class="ion-ios-location"></i>Unit 13, Garthanri Park <br> 
                    c/o Voigts & Kelvin Streets <br>
                    Southern Industrial Area, <br>
                    Windhoek, Namibia</p>
                </div>
                <!-- /.feature-box -->
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section -->

<!-- ========== CONTACT US FORM ========== -->
<section class="content-section gray-bg">
    <div class="container">
        <div class="row">
            <form class="col-md-8 col-md-offset-2" action="send-email-mailgun.php" method="post" id="form">
                <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name.." required="">
                </div> <!-- end form-group -->
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name.." required="">
                </div> <!-- end form-group -->
                <div class="form-group col-md-12">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Id.." required="">
                </div> <!-- end form-group -->
                <div class="form-group col-md-12">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" placeholder="Enter your message here.."></textarea>
                </div> <!-- end form-group -->

                <div class="form-group col-md-12">
                    <div class="g-recaptcha" data-sitekey="6LdrSCQTAAAAAFvP5P_RHmBQreGEHEiAIR3rc8FW"></div>
                </div>

                <div class="text-center col-md-12 mt10 mb20">
                    <button type="submit" class="btn st-btn btn-rounded btn-primary pull-right">Submit</button>
                </div> <!-- end text-center -->
            </form>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>

<!-- ========== MAP SECTION ========== -->
<div id='fullWidthMap'></div>