<!-- ========== SLIDER ========== -->
{{> home/slider}}
<!-- END REVOLUTION SLIDER -->

<!-- ========== INTRO SECTION ========== -->
<section class="content-section">
    <div class="container">
        <div class="row">
            
            <!-- ========== ABOUT SECTION ========== -->
            <section class="content-section">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <header class="section-title">
                                <h6 class="small-title">Why choose TW?</h6>
                                <h1 class="main-title">Our Offering</h1>
                            </header>
                            <!-- /.section-title -->
                            <p>To succeed and grow in the digital and as-a-service era, companies need to be nimble, responsive and efficient in the ways they deliver services. Technology Warehouse is here to help. Our proven hyperscale digital platform delivers end-to-end services that accelerate how partners adapt, compete and grow. 

                            The power of the platform is it's automated billing and provisioning capability, which enables your customers to subscribe and immediately start using services.</p>
                            <ul class="ul-style-3">
                                <li class="col-md-6"><i class="icon ion-android-cloud-done"></i> Fastest time to market</li>
                                <li class="col-md-6"><i class="icon ion-android-cloud-done"></i> Automatic Billing</li>
                                <li class="col-md-6"><i class="icon ion-android-cloud-done"></i> Sell anywhere!</li>
                                <li class="col-md-6"><i class="icon ion-android-cloud-done"></i> Minimal Overhead</li>
                            </ul>
                            <!-- /.ul-style-3 -->
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-6">
                            <header class="section-title">
                                            <h6 class="small-title">How it works?</h6>
                                            <h1 class="main-title">Reseller Types</h1>
                                            </header>
                                        <!-- /.section-title -->

                            <div class="col-md-12">
                                <!-- <h6 class="underline">With Icons</h6> -->
                                <div class="panel-group acc-default" id="accordion-2" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne-2">
                                            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2" class="trans"><span class="icon ion-ios-star-outline"></span> Value Added Resellers</a></h4>
                                        </div>
                                        <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2">
                                            <div class="panel-body">
                                                As a VAR you will have access to the platform and sell products as setup by TW with assistance from a capable TW team. VARs
                                                will be entitled to sales materials and training on exactly how to provision and brand products on the TW platform. To opperate as a reseller
                                                your will need to do an upfront purchase of credit to be eligible for the program. All support calls will be via reseller. Customer
                                                will not have access to the control panel, only the reseller - this will give resellers the opportunity to up sell managed
                                                services and bill their customers.
                                            </div>
                                        </div> <!-- /.panel-collapse -->
                                    </div> <!-- /.panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo-2">
                                            <h4 class="panel-title"><a class="collapsed trans" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2"><span class="icon ion-ios-star-half"></span> Branded Resellers</a></h4>
                                        </div>
                                        <div id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-2">
                                            <div class="panel-body">
                                                As a Branded reseller you will have access to the platform and sell products and services as setup by TW with assistance from the
                                                capable TW team. You will be entitled to sales materials and training on exactly how to provision products,
                                                and custom branding will be done by TW on the platform. As a branded reseller you will need to pay a setup fee to facilitate
                                                the configuration & branding of market place, billing, tax, payment gateway, e-mail notifications and control panel. The
                                                reseller will have a monthly Platform as a Service (PaaS) rental fee. Customers will typically be VAR's and have access to
                                                a branded control panel and will log support calls directly with TW who will redirect endpoint configuration and management
                                                back to reseller. You will have the opportunity to up sell managed services and bill the customer via the platform
                                                or integration to your ERP system. You will be able to customize your service plans via TW on a per project
                                                basis.
                                            </div>
                                        </div> <!-- /.panel-collapse -->
                                    </div> <!-- /.panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree-2">
                                            <h4 class="panel-title"><a class="collapsed trans" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" aria-expanded="false" aria-controls="collapseThree-2"><span class="icon ion-ios-star"></span> PaaS Resellers</a></h4>
                                        </div>
                                        <div id="collapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-2">
                                            <div class="panel-body">
                                                As a Paas reseller you will have access to the platform and staging environment. You will receive full technical account
                                                management and training from TW to create your own products and go to market plans. You will need to pay a setup
                                                fee to facilitate the configuration & branding of your billing, market place, tax, payment gateway, e-mail notifications
                                                and control panel. You will have a monthly rental fee for PaaS and TAM and a once off training fee will be applicable.
                                                Your customers will have access to branded control panel and will log support calls directly with TW who will redirect
                                                endpoint configuration and management back to you. You will have the opportunity to up sell managed services
                                                and bill your customers via the platform or integrate into your ERP system. As Paas reseller you will be able to fully customize the
                                                platform after training or via TW on a per project basis.
                                            </div>
                                        </div> <!-- /.panel-collapse -->
                                    </div> <!-- /.panel -->
                                </div>
                            </div>
                            <!-- /.col-md-6 -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.content-section -->


            <!-- ========== PRICING TABLE SECTION ========== -->
            <header class="section-title text-center">
                <h6 class="small-title">It's affordable -</h6>
                {{!-- <h1 class="main-title">Our Products</h1> --}}
                <p class="sub-title">and structured to fit your business!</p>
            </header>
            <!-- /.section-title -->

            <div class="col-sm-4">
                <div class="pricing-box">
                    <div class="pricing-head">
                        <!-- <span class="striked">$ 10.0</span>-->
                        <h2>Value Added Reseller</h2>
                        <h6>Service delivery business</h6>
                        <i class="bg-icon ion-lock-combination"></i>
                    </div>
                    <!-- /.pricing-head -->
                    <div class="pricing-body">
                        <ul>
                            <li>Access to the automation platform <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="right" title="Something more about this"></i></li>
                            <li>Training <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right"
                                    title="TW provides training"></i></li>
                            <li>Support <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right" title="TW provides level one support"></i></li>
                            <li>5 User <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right" title="Something more about this"></i></li>
                            <li>Basic Features</li>
                        </ul>
                    </div>
                    <!-- /.pricing-body -->
                    <div class="pricing-foot">
                        <a href="#">Contact Us</a>
                    </div>
                    <!-- /.pricing-foot -->
                </div>
                <!-- /.pricing-box -->
            </div>
            <!-- /.col-sm-4 -->

            <div class="col-sm-4">
                <div class="pricing-box popular">
                    <div class="pricing-head">
                        <!--<span class="striked">$ 100.0</span>-->
                        <h2>Branded Reseller</h2>
                        <h6>ICT services business</h6>
                        <i class="bg-icon ion-ribbon-b"></i>
                    </div>
                    <!-- /.pricing-head -->
                    <div class="pricing-body">
                        <ul>
                            <li>Access to the automation platform <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="right" title="Something more about this"></i></li>
                            <li>Training <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right"
                                    title="TW provides training"></i></li>
                            <li>Support <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right" title="TW provides level one support"></i></li>
                            <li>A per product Go-To-Market plan <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="right" title="Something more about this"></i></li>
                            <li>Branded marketplace and control panel <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="right" title="Something more about this"></i></li>
                            <li>10 Users <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right"
                                    title="Something more about this"></i></li>
                            <li>Some Advanced Features</li>
                        </ul>
                    </div>
                    <!-- /.pricing-body -->
                    <div class="pricing-foot">
                        <a href="#">Contact Us</a>
                    </div>
                    <!-- /.pricing-foot -->
                </div>
                <!-- /.pricing-box -->
            </div>
            <!-- /.col-sm-4 -->

            <div class="col-sm-4">
                <div class="pricing-box">
                    <div class="pricing-head">
                        <!--<span class="striked">$ 1000.0</span>-->
                        <h2>Platform as a Service</h2>
                        <h6>Telecom/ICT services provider</h6>
                        <i class="bg-icon ion-bowtie"></i>
                    </div>
                    <!-- /.pricing-head -->
                    <div class="pricing-body">
                        <ul>
                            <li>Access to the automation platform <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="left" title="Something more about this"></i></li>
                            <li>Training <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right"
                                    title="TW provides training"></i></li>
                            <li>Support <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="right" title="TW provides level one support"></i></li>
                            <li>A per product Go-To-Market plan <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="right" title="Something more about this"></i></li>
                            <li>Branded marketplace and control panel <i class="icon ion-ios-help" data-toggle="tooltip"
                                    data-placement="right" title="Something more about this"></i></li>
                            <li>Unlimited Users <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="left"
                                    title="Something more about this"></i></li>
                            <li>Unlimited Records <i class="icon ion-ios-help" data-toggle="tooltip" data-placement="left"
                                    title="Something more about this"></i></li>
                            <li>All Features</li>
                        </ul>
                    </div>
                    <!-- /.pricing-body -->
                    <div class="pricing-foot">
                        <a href="#">Contact Us</a>
                    </div>
                    <!-- /.pricing-foot -->
                </div>
                <!-- /.pricing-box -->
            </div>
            <!-- /.col-sm-4 --> 
    


            

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section -->

<!-- ========== SERVICES IN BLACK SECTION ========== -->


<section class="content-section black-section">
    <div class="container-fluid">
    <div class="row">
        <header class="section-title text-center">
            <h6 class="small-title">Technology Warehouse</h6>
            <h1 class="main-title">Solving Your Toughest Challenges.</h1>
            <p class="sub-title">We are a one stop cloud solutions provider.</p>
        </header>
        <!-- /.section-title -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Consolidated Datacenters</h5>
                    <p>We consolidate your processes, technologies and locations in order to improve manageability and allow for more flexibility going forward.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Migration to cloud</h5>
                    <p>We help plan for a migration out of data centers, help determin what data and apps can be migrated and 
                        move workloads to their ideal environment.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Hosted Exchange</h5>
                    <p>When your email is down, so is your business. Rely on us for unmatched speed and reliability to host your business, at a fraction of the cost.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Ensuring Business Continuity</h5>
                    <p>Prepare your business for the worst-case scenario, with a holistic security approach.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>IT Transformation-as-a-Service</h5>
                    <p>Manage your IT infrastructure and secure your data. Migrate your data and apps to their new environment.
                        Automate and optimize the delivery of your IT services. Build a flexible delivery model that scales your business.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Domain Hosting</h5>
                    <p>Fast, simple, and affordable Domain Name registration and hosting.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Infrastructure as a Service </h5>
                    <p>Avoid the time and cost of buying, managing, and supporting in-house infrastructure, while offering uninterrupted access
                    to data and the most advanced applications and technology.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-3 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-android-cloud-done"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Backup as a Service </h5>
                    <p>Backup as a service is easier to manage than other offsite services. Instead of worrying about rotating and managing tapes
                    or hard disks at an offsite location, data storage administrators can offload maintenance and management to the provider.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content-section -->