<!-- ========== SLIDER ========== -->
<div id="rev_slider_22_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="Slider2" style="background-color:transparent;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.2.5.1 fullscreen mode -->
    <div id="rev_slider_22_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.5.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-73" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-thumb="/images/slider/100x50_tp_vid_clouds-1.jpg" data-rotate="0"
                data-saveperformance="off" data-title="Iceberg" data-param1="" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/slider/tp_vid_clouds-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                    data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- BACKGROUND VIDEO LAYER -->
                <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%"
                    data-videoheight="100%" data-videomp4="/images/slider/tp_vid_clouds-2.mp4" data-videopreload="auto"
                    data-videoloop="loopandnoslidestop" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true"
                    data-autoplayonlyfirsttime="false"></div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper  " id="slide-69-layer-10" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                    data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;" data-start="0"
                    data-basealign="slide" data-responsive_offset="on" data-responsive="off" style="z-index: 5;text-transform:left;background-color:rgba(41, 46, 49, 0.25);border-color:rgba(0, 0, 0, 0.50);">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  toblur" id="slide-69-layer-1" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['550','550','0','0']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;"
                    data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; text-transform:left;">WE
                    BELIEVE</div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur" id="slide-69-layer-11" data-x="['left','left','center','center']"
                    data-hoffset="['230','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['250','150','0','0']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power4.easeOut;" data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;"
                    data-start="1500" data-splitin="chars" data-splitout="chars" data-responsive_offset="on"
                    data-elementdelay="0.1" data-endelementdelay="0.03" data-end="4000" style="z-index: 7; white-space: nowrap; color: rgba(176, 12, 25, 1.00);text-transform:left;">IN
                    THE POWER OF CLOUD </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur" id="slide-69-layer-13" data-x="['left','left','center','center']"
                    data-hoffset="['250','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['250','150','0','0']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power3.easeOut;" data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;"
                    data-start="4510" data-splitin="chars" data-splitout="chars" data-responsive_offset="on"
                    data-elementdelay="0.1" data-endelementdelay="0.03" data-end="7010" style="z-index: 8; white-space: nowrap; color: rgba(176, 12, 25, 1.00);text-transform:left;">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur" id="slide-69-layer-14" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['250','150','0','0']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power3.easeOut;" data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;"
                    data-start="7490" data-splitin="chars" data-splitout="chars" data-responsive_offset="on"
                    data-elementdelay="0.1" data-endelementdelay="0.03" data-end="9990" style="z-index: 9; white-space: nowrap; color: rgba(176, 12, 25, 1.00);text-transform:left;">IN
                    GREAT CUSTOMER SERVICE </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur" id="slide-69-layer-15" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['250','150','0','0']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power3.easeOut;" data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;"
                    data-start="11310" data-splitin="chars" data-splitout="chars" data-responsive_offset="on"
                    data-elementdelay="0.1" data-endelementdelay="0.03" style="z-index: 10; white-space: nowrap; color: rgba(176, 12, 25, 1.00);text-transform:left;">IN
                    TRANSFORMATIONAL TECHNOLOGY </div>

                <!-- LAYER NR. 7 -->
                {{!-- <div class="tp-caption btn st-btn" id="slide-69-layer-7" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['127','97','90','90']"
                    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;"
                    data-start="750" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":""}]'
                    data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;"></div>
                --}}

                {{!-- <div class="tp-caption tp-resizeme" data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, 
                                {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
                    data-type="image" data-x="center" data-y="top" data-hoffset="0" data-voffset="100" data-width="['auto']"
                    data-height="['auto']">
                    <img src="/images/logo_v1-1.jpg" alt="quiver_logo" width="130" height="40"></div> --}}

                <!-- LAYER NR. 8 -->
                <div class="tp-caption rev-scroll-btn " id="slide-74-layer-9" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
                    data-width="35" data-height="55" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;"
                    data-start="2000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":""}]'
                    data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 8; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;text-transform:left;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><span>
                    </span>
                </div>
            </li>
        </ul>

        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->

<!-- ========== SERVICES SECTION ========== -->
<section class="content-section">
    <div class="container">
        <div class="row">
            <header class="section-title text-center">
                <h1 class="main-title">Platform as a Service Reseller (PR)</h1>
                <p class="sub-title">An ICT services provider or telco that already provide ICT products directly to the customer as a managed service or products
                and would like to sell via their own market place. The PR has identified cloud as a strategy but needs a fast,
                cost effective and tested method to implement the strategy. The PR needs to implement new products and services with a partner
                that can provide assistance if needed. The PR needs control with agility and a faster go to market strategy and a good return
                on income without the financial and time constraints that starting from zero brings.</p>
            </header>
            <!-- /.section-title -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon icon ion-ios-contact"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Platform Access</h5>
                        <p>The reseller will have access to the automation platform and sell the products directly to customers.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-ios-monitor"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Your Brand</h5>
                        <p>The marketplace, admin control panel and customer control panel will be branded for the PR.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-ios-box"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>End-to-end Setup</h5>
                        <p>TW will setup market place, billing, tax, payment gateway, mail notifications and control panel
                            for the PR.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-android-person"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Training</h5>
                        <p>Technology Warehouse will provide training to the reseller on provisioning and management of products
                            and provide level one support.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-speedometer"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Accelerate business</h5>
                        <p>Technology Wharehouse will accelerate your go-to-market strategy with comprehensive programs tailored
                            to kick-start your sales success.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-ios-list"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Custom Service Plans</h5>
                        <p>The reseller will be able to customize or add service plans with assistance of Technology Warehouse</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->
        </div>
        <!-- /.row -->

        <div class="col-md-6 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon icon ion-eye"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Flexible Scope</h5>
                    <p>The PR can request TW to integrate additional products on a project basis.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->

        <div class="col-md-6 col-sm-6">
            <div class="feature-box-4">
                <div class="box-left">
                    <i class="icon ion-ribbon-a"></i>
                </div>
                <!-- /.box-left -->
                <div class="box-right">
                    <h5>Quality Support</h5>
                    <p>TW will be responsible for 2nd line support.</p>
                </div>
                <!-- /.box-right -->
            </div>
            <!-- /.feature-box-4 -->
        </div>
        <!-- /.col-md-6 col-sm-6 -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-section -->