<!-- ========== SLIDER ========== -->
{{> home/slider}}
<!-- END REVOLUTION SLIDER -->

<!-- ========== SERVICES SECTION ========== -->
<section class="content-section">

    <div class="container">
        <div class="row">
            <header class="section-title text-center">
                <h6 class="small-title"></h6>
                <h1 class="main-title"></h1>
                <p class="sub-title"></p>
            </header>
            <header class="section-title text-center">
                <h1 class="main-title">Why TW Cloud?</h1>
                <p class="sub-title">By choosing the right distribution partner, resellers can successfully lead their
                    businesses into the cloud and become the single source for their customers’ technology needs. 
                    Businesses partnering with TW can deepen their customer relationships and offer end-to-end support 
                    services with a goal of becoming a trusted business advisor. With streamlined, automated billing and
                    invoicing, resellers can scale profitably without increasing overhead. And with access to proven 
                    cloud marketing and sales tactics, they’ll stay firmly on the path towards digital transformation.</p>
            </header>
            <!-- /.section-title -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-cloud"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Top cloud services</h5>
                        <p>Offer top cloud services without the large capital expenses associated with building and
                            maintaining infrastructure.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-arrow-expand"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>End-to-end customer experience</h5>
                        <p>Offer a end-to-end customer experience with streamlined provisioning, billing, servicing,
                            and support.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-ios-speedometer"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Services that scale</h5>
                        <p>Scale quickly with simplified billing and invoicing without incurring additional overhead
                            costs.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-ios-unlocked"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Increase customer value</h5>
                        <p>Increase the value of business by scaling profitability and expanding beyond traditional
                            selling boundaries to reach new
                            customer segments.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-speedometer"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Accelerate business</h5>
                        <p>Accelerate your go-to-market strategy with comprehensive programs tailored to kick-start
                            your sales success.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="feature-box-4">
                    <div class="box-left">
                        <i class="icon ion-ios-people"></i>
                    </div>
                    <!-- /.box-left -->
                    <div class="box-right">
                        <h5>Increase customer retention</h5>
                        <p>Increase customer retention and lifetime value through up-sell/cross-sell capabilities and
                            best practices.</p>
                    </div>
                    <!-- /.box-right -->
                </div>
                <!-- /.feature-box-4 -->
            </div>
            <!-- /.col-md-6 col-sm-6 -->
        </div>
    

        <div class="container">
            <div class="row">
                <header class="section-title text-center">
                    <p></p>
                    <p></p>
                    <h6 class="small-title">Which platform should you choose?</h6>
                    <h1 class="main-title">SaaS, IaaS and PaaS.</h1>
                    <p class="sub-title">When people begin discussing cloud computing, they are generally speaking about one of three possible
                    choices for application deployment: infrastructure as a service (IaaS), platform as a service (PaaS), or software as a
                    service (SaaS). Which one is right for your project depends on your specific needs for the code base that you are
                    working on. Let’s examine each one of these cloud choices.</p>
                </header>
                <!-- /.section-title -->

                <div class="col-md-4">
                    <div class="feature-box text-center">
                        <i class="icon ion-chatboxes"></i>
                        <h4>SaaS</h4>
                        <p>Vendors are shifting from on-premise, licensed software to cloud-based offerings, and businesses are responding by shifting more of their critical business applications to the cloud.</p>
                        <i class="bg-icon ion-chatboxes"></i>
                    </div>
                    <!-- /.feature-box -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="feature-box text-center">
                        <i class="icon ion-cube"></i>
                        <h4>IaaS</h4>
                        <p>Infrastructure as a Service is growing faster than any other segment of the cloud services market — outpacing both SaaS and PaaS, predictions are that growth will continue for at least the next 5 years.</p>
                        <i class="bg-icon ion-cube"></i>
                    </div>
                    <!-- /.feature-box -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="feature-box text-center">
                        <i class="icon ion-ios-pie"></i>
                        <h4>PaaS</h4>
                        <p>With a compound annual growth rate over 18%, the global market for Platform as a Service (PaaS) is projected to reach $7.5 billion by 2020. Benefiting all on road to digital transformation.</p>
                        <i class="bg-icon ion-ios-pie"></i>
                    </div>
                    <!-- /.feature-box -->
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-sm-4 -->


    <div class="container">
        <div class="row">
            <header class="section-title">
                
                {{!-- <h6 class="small-title">Choosing between</h6> --}}
                <h3 class="main-title">Software as a service (SaaS)</h1>
                <p class="sub-title">With the SaaS platform, everything is provided for you except the users and the application data. The vendor provides
                the application code and the developer has limited access to modify the software in use. This is typically not a choice
                for deploying custom applications, as the vendor provides the entire software stack. Hosted web email clients and
                hosted sales automation software are two good examples of how SaaS is used.
                </p>

                <h5>Pro: The entire stack is provided by the vendor except the application users and the associated data.
                </h5>

                <h5>Con: You have limited control over the hosted application and it’s often hard to integrate external workflows into the
                system.</h5>
            </header>

            <header class="section-title">
            
                <h3 class="main-title">Infrastructure as a service (IaaS)</h1>
                    <p class="sub-title">IaaS is a platform where an infrastructure is provided for you. With a click of a button, you can spin up virtual
                    machines hosted by a provider with an operating system of your choice. The vendor providing the machine is responsible
                    for the connectivity and initial provisioning of the system, and you are responsible for everything else. The vendor
                    provides a machine and an operating system, but you need to install all of the software packages, application
                    runtimes/servers, and databases that your application requires. Generally, IaaS requires that you have a team of system
                    administrators to manage the system and apply firewall rules, patches, and security errata on a frequent basis.
                    </p>
            
                    <h5>Pro: You have complete control over every aspect of the system.
                    </h5>
            
                    <h5>Con: You need system administration knowledge or a team of system administrators to maintain the systems, since you are
                    responsible for their uptime and security.</h5>
            </header>

            <header class="section-title">
            
                <h3 class="main-title">Platform as a service (PaaS)</h1>
                    <p class="sub-title">PaaS is a fairly new technology stack that runs on top of IaaS and was created with the developer in mind. With the
                    PaaS platform, everything is provided except the application code, users, and data. Typically, when using a PaaS, the
                    vendor maintains the application server, databases, and all of the necessary operating system components, giving you
                    time to focus on the application code. Since the vendor manages that platform for you, it is often hard to open up
                    ports that are not specifically called for the application server, runtime, or database in use. PaaS also provides
                    features that are specifically meant for applications, including the ability to scale the application tier up based
                    upon the user demand of the application. In most platforms, this happens with little-to-no interaction from the
                    developer.
                    </p>
            
                    <h5>Pro: PaaS provides a complete environment that is actively managed, letting you focus on your application code.</h5>
            
                    <h5>Con: Users are often restricted to certain major/minor versions of packages available on the system so that the
                    vendor can manage the platform effectively.</h5>
            </header>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-sm-4 --> 
</section>
<!-- /.content-section -->